<!DOCTYPE html>
<html lang="en-us">

  <head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    
      Blog #42 &middot; Notes to future me
    
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="/blog/css/poole.css">
  <link rel="stylesheet" href="/blog/css/github-gist.css">
  <link rel="stylesheet" href="/blog/css/lanyon.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">

  <!-- Icons -->
    <!-- generics -->
    <link rel="icon" href="/blog/favicon-32.png" sizes="32x32">
    <link rel="icon" href="/blog/favicon-57.png" sizes="57x57">
    <link rel="icon" href="/blog/favicon-76.png" sizes="76x76">
    <link rel="icon" href="/blog/favicon-96.png" sizes="96x96">
    <link rel="icon" href="/blog/favicon-128.png" sizes="128x128">
    <link rel="icon" href="/blog/favicon-192.png" sizes="192x192">
    <link rel="icon" href="/blog/favicon-228.png" sizes="228x228">

    <!-- Android -->
    <link rel="shortcut icon" sizes="196x196" href=“/blog/favicon-196.png">

    <!-- iOS -->
    <link rel="apple-touch-icon" href="/blog/favicon-120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="/blog/favicon-152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="/blog/favicon-180.png" sizes="180x180">

    <!-- Windows 8 IE 10-->
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/blog/favicon-144.png">



    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/languages/twig.min.js"></script>

    <script>hljs.initHighlightingOnLoad();</script>
</head>


  <body>
    <input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>I am still not sure if this gonna fly or what I end up putting here</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item active" href="/blog/">Home</a>

    
      <a class="sidebar-nav-item" href="/blog/components.md">Components</a>
    
      <a class="sidebar-nav-item" href="/blog/tags.md">Tags</a>
    

    <a class="sidebar-nav-item" href="https://github.com/soswow/blog">GitHub project</a>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; 2020. All rights reserved.
    </p>
  </div>
</div>

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="/blog" title="Home">Blog #42</a>
            <small>Notes to future me</small>
          </h3>
        </div>
      </div>

      <div class="container content">
        
<div class="posts">
      
      <div class="post">
          <h1 class="post-title">
              <a href="/blog/jetson-nano-headless-ubuntu-and-bluetooth-troubles-+-solutions">
                  Jetson Nano, Headless Ubuntu and Bluetooth troubles + solutions
              </a>
          </h1>

          <span class="post-date">21.06.2020</span>

        <!DOCTYPE html>
<html lang="en-us">

  <head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    
      Jetson Nano, Headless Ubuntu and Bluetooth troubles + solutions &middot; Blog #42
    
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="/blog/css/poole.css">
  <link rel="stylesheet" href="/blog/css/github-gist.css">
  <link rel="stylesheet" href="/blog/css/lanyon.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">

  <!-- Icons -->
    <!-- generics -->
    <link rel="icon" href="/blog/favicon-32.png" sizes="32x32">
    <link rel="icon" href="/blog/favicon-57.png" sizes="57x57">
    <link rel="icon" href="/blog/favicon-76.png" sizes="76x76">
    <link rel="icon" href="/blog/favicon-96.png" sizes="96x96">
    <link rel="icon" href="/blog/favicon-128.png" sizes="128x128">
    <link rel="icon" href="/blog/favicon-192.png" sizes="192x192">
    <link rel="icon" href="/blog/favicon-228.png" sizes="228x228">

    <!-- Android -->
    <link rel="shortcut icon" sizes="196x196" href=“/blog/favicon-196.png">

    <!-- iOS -->
    <link rel="apple-touch-icon" href="/blog/favicon-120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="/blog/favicon-152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="/blog/favicon-180.png" sizes="180x180">

    <!-- Windows 8 IE 10-->
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/blog/favicon-144.png">



    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/languages/twig.min.js"></script>

    <script>hljs.initHighlightingOnLoad();</script>
</head>


  <body>
    <input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>I am still not sure if this gonna fly or what I end up putting here</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item" href="/blog/">Home</a>

    
      <a class="sidebar-nav-item" href="/blog/components.md">Components</a>
    
      <a class="sidebar-nav-item" href="/blog/tags.md">Tags</a>
    

    <a class="sidebar-nav-item" href="https://github.com/soswow/blog">GitHub project</a>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; 2020. All rights reserved.
    </p>
  </div>
</div>

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="/blog" title="Home">Blog #42</a>
            <small>Notes to future me</small>
          </h3>
        </div>
      </div>

      <div class="container content">
        
<div class="post">
    <h1 class="post-title">Jetson Nano, Headless Ubuntu and Bluetooth troubles + solutions</h1>
    <span class="post-date">21.06.2020 | <a href="#disqus_thread">Link</a></span>
    <p>Here, I will document some of the problems and solutions I&#39;ve experienced over past days working with Jetsn Nano in headless mode trying to pair my Switch Joy-Con.</p>
<h2 id="problem-1---vnc-on-jetson-nanos-ubuntu-1804">Problem #1 - VNC on Jetson Nano&#39;s Ubuntu 18.04</h2>
<p>First, I need to set up remote desktop - VNC server. Just in case, pretty much.</p>
<p><a href="https://developer.nvidia.com/embedded/learn/get-started-jetson-nano-devkit#write">Jetson Nano&#39;s standard image</a> is an Ubuntu 18.04. If you google &quot;vnc jetson nano&quot; you will find <a href="https://raspberry-valley.azurewebsites.net/NVIDIA-Jetson-Nano/#remote-desktop-vnc">same instructions</a> talking about modifying <code>/usr/share/glib-2.0/schemas/org.gnome.Vino.gschema.xml</code> file and running <code>glib-compile-schemas</code> after that. Plus, you will find <a href="https://forums.developer.nvidia.com/t/jetson-nano-vnc-headless-connections/77399/4?u=soswow">how to actually startup VNC server</a> that is already pre-installed with bash script like this:</p>
<pre><code class="language-bash">#!/bin/bash
export DISPLAY=:0
gsettings set org.gnome.Vino enabled true
gsettings set org.gnome.Vino prompt-enabled false
gsettings set org.gnome.Vino require-encryption false
/usr/lib/vino/vino-server &amp;</code></pre>
<p>It all works fine, except for the extremely small screen (800x600 by default). It was pretty hard to find a solution that was not an instruction to install a different implementation of VNC protocol server (like TightVCN, TigerVNC and other) but something that would make the screen bigger for what I already have.</p>
<p>The solution was to add this:</p>
<pre><code>Section &quot;Screen&quot;
   Identifier    &quot;Default Screen&quot;
   Monitor        &quot;Configured Monitor&quot;
   Device        &quot;Default Device&quot;
   SubSection &quot;Display&quot;
       Depth    24
       Virtual 1280 800
   EndSubSection
EndSection</code></pre><p>to the end of <code>/etc/X11/xorg.conf</code> and it magically worked giving me big enough virtual screen when connected via VNC client.</p>
<h2 id="problem-2---pairing-switch-joy-cons-bluetooth-controllers-to-ubuntu">Problem #2 - Pairing Switch Joy-Cons Bluetooth controllers to Ubuntu</h2>
<p>I want to use my Joy-Cons as controllers for my implementation of <a href="https://www.donkeycar.com/">Donkey Car</a>. For that, I need first to pair them with Jetson Nano. Since Jetson Nano doesn&#39;t have built-in Bluetooth device, I am using a USB dongle.</p>
<p>To pair Joy-Con with any device you need to put it into pairing mode. There is a small round button in the middle of its side. Press and hold it for a bit until lights start running up and down.</p>
<p>Now, you can use Ubuntu UI to do the pairing. There is nothing complicated in that. The question is how to do this via the command line (ssh).</p>
<p>What we will need is <a href="http://www.bluez.org/">BlueZ</a>, which is</p>
<blockquote>
<p>the official Linux Bluetooth stack. It provides, in its modular way, support for the core Bluetooth layers and protocols.</p>
</blockquote>
<p>You can get it by installing <code>bluez-tools</code> with </p>
<pre><code class="language-bash">sudo apt install bluez-tools</code></pre>
<p>Now you should be able to run <code>bluetoothctl</code> command, that will open own command line interface:</p>
<p><a href="/blog/images/2020-06-21-1.png"><img src="/blog/images/small/2020-06-21-1.jpg" alt="bluetoothctl interface"></a></p>
<p>It took me a while to find an exact order of commands that you need to execute for everything to work. During all of the following instructions, Joy-Con lights should be running up and down. If they stop, just press and hold SYNC button again.</p>
<ol>
<li><code>agent on</code> - can be already on, but just in case.</li>
<li><code>scan on</code></li>
<li>Now, wait for your device to show up. For me, it is <code>[NEW] Device B8:78:26:19:C1:8C Joy-Con (R)</code></li>
<li><code>scan off</code> - now when we know it&#39;s MAC address we don&#39;t need to get spammed with other devices popping up.</li>
<li><code>trust &lt;YOUR DEVICE MAC&gt;</code></li>
<li><code>pair &lt;YOUR DEVICE MAC&gt;</code></li>
<li>It will pair, be connected for a bit and then disconnect.</li>
<li><code>connect &lt;YOUR DEVICE MAC&gt;</code></li>
<li>You prompt will change from <code>[bluetooth]#</code> to <code>[&lt;YOUR DEV NAME&gt;]#</code> (<code>[Joy-Con (R)]#</code> in my case)</li>
</ol>
<p>Congratulation, now your device is paired and connected. You can go ahead and start talking to it. What took half a day for me is to find out, that <code>trust</code> command should go <strong>BEFORE</strong> <code>pair</code> and <code>connect</code>! Without it I was getting an immediate disconnect right after <code>connect</code>.</p>
<p>Now, if you want to switch off your Joy-Con you can press SYNC button once. It will take a couple tens of seconds for <code>[CHG] Device B8:78:26:19:C1:8C Connected: no</code> to be printed out and prompt change back to <code>[bluetooth]#</code>.</p>
<p>To get everything connected again, press any button on Joy-Con and wait for <code>[CHG] Device B8:78:26:19:C1:8C Connected: yes</code>. It&#39;s that easy. Well, almost. In case this doesn&#39;t connect press SYNC button once (not holding) and then press <code>R</code> or <code>SR</code> buttons on Joy-Con.</p>
<p>While I was pulling my hair out trying to understand how to make my Joy-Cons work properly I&#39;ve labelled them all:</p>
<p><a href="/blog/images/2020-06-21-2.jpg"><img src="/blog/images/small/2020-06-21-2.jpg" alt="labeled Joy-Cons"></a></p>
<p><strong>Update:</strong> If after all this ^ you re-pair Joy-Con with Switch concole, you will need to do this:</p>
<ol>
<li><code>remove &lt;YOUR DEVICE MAC&gt;</code></li>
<li><code>untrust &lt;YOUR DEVICE MAC&gt;</code></li>
<li>Go back to prev. instruction to add it back again.</li>
</ol>
<h2 id="problem-3---python-interface-to-interact-with-joy-cons">Problem #3 - Python interface to interact with Joy-Cons</h2>
<p>Now, when Joy-Cons are paired and connected how can we communicate with them? Using Python, obviously. I found a <a href="https://github.com/tokoroten-lab/joycon-python">joycon-python library</a> that promises just that.</p>
<p>The first roadblock was during installation of <code>hidapi</code> python library, that <code>joycon-python</code> depends on. So for now just install <code>pip install joycon-python pyglm</code> and we will deal with <code>hidapi</code> later. </p>
<p>In <code>joycon-python</code> library instructions author says:</p>
<blockquote>
<p>You need cython-hidapi to use Bluetooth / HID connection in Python.</p>
<p>Alternatively, you can use hid instead if cython-hidapi fails to find your JoyCons.</p>
</blockquote>
<p><code>cython-hidapi</code> is what being installed when you do <code>pip install hidapi</code>. The library can be found <a href="https://github.com/trezor/cython-hidapi">here</a>. Mentioned above <code>hid</code> library can be found <a href="https://github.com/apmorton/pyhidapi">here</a>. Both of these Python libraries are just different take on wrapping <code>C</code> library called <code>hidapi</code> that can be found <a href="https://github.com/libusb/hidapi">here</a>. I tried cython-python one first with both build variants (with libusb and without - means with hidraw) and it just didn&#39;t work. The second choice (<code>pyhidapi</code>) did work, however.</p>
<p>Just following <a href="https://github.com/apmorton/pyhidapi#ubuntudebian">instructions</a> was enough:</p>
<ol>
<li><code>sudo apt install libhidapi-hidraw0</code></li>
<li><code>pip install hid</code></li>
</ol>
<p>And here is the bit that took me a while to understand. <a href="https://github.com/trezor/cython-hidapi#udev-rules">Next section in joycon-python instruction</a> about &quot;Udev rules&quot; is crucial! As I found <a href="https://stackoverflow.com/a/62429857">an answer</a> to my own Stackoverflow question, udev rules from <a href="https://www.reddit.com/r/Stadia/comments/egcvpq/using_nintendo_switch_pro_controller_on_linux/fc5s7qm/">this reddit post</a> will make everything work!</p>
<p>Just chuck this:</p>
<pre><code># Switch Joy-con (L) (Bluetooth only)
KERNEL==&quot;hidraw*&quot;, SUBSYSTEM==&quot;hidraw&quot;, KERNELS==&quot;0005:057E:2006.*&quot;, MODE=&quot;0666&quot;

# Switch Joy-con (R) (Bluetooth only)
KERNEL==&quot;hidraw*&quot;, SUBSYSTEM==&quot;hidraw&quot;, KERNELS==&quot;0005:057E:2007.*&quot;, MODE=&quot;0666&quot;

# Switch Pro controller (USB and Bluetooth)
KERNEL==&quot;hidraw*&quot;, SUBSYSTEM==&quot;hidraw&quot;, ATTRS{idVendor}==&quot;057e&quot;, ATTRS{idProduct}==&quot;2009&quot;, MODE=&quot;0666&quot;
KERNEL==&quot;hidraw*&quot;, SUBSYSTEM==&quot;hidraw&quot;, KERNELS==&quot;0005:057E:2009.*&quot;, MODE=&quot;0666&quot;

# Switch Joy-con charging grip (USB only)
KERNEL==&quot;hidraw*&quot;, SUBSYSTEM==&quot;hidraw&quot;, ATTRS{idVendor}==&quot;057e&quot;, ATTRS{idProduct}==&quot;200e&quot;, MODE=&quot;0666&quot;</code></pre><p>into <code>/etc/udev/rules.d/50-nintendo-switch.rules</code> file and that&#39;s it.</p>
<p>Now, with everything in place (Joy-Con is connected, <code>pyhidapi</code> installed, <code>joycon-python</code> install) you can hopefully do:</p>
<pre><code class="language-python">from pyjoycon import ButtonEventJoyCon, get_R_id
import time

# in case u have Right Joy-Con connected ;-)
joycon_id = get_R_id()
joycon = ButtonEventJoyCon(*joycon_id)

while 1:
    time.sleep(1/60)

    for event_type, status in joycon.events():
        print(event_type, status)</code></pre>
<h2 id="problem-4---remote-codingdebugging-with-vscode">Problem #4 - Remote coding/debugging with VSCode</h2>
<p>Even though I have VNC setup it is pretty slow and laggy. To feel like a human and be able to write code on Jetson Nano or Raspberry Pi I need something better.</p>
<p>The answer is <a href="https://code.visualstudio.com/docs/remote/remote-overview">VS Code Remote Development</a>. It is much more incredible then you can even imagine!</p>
<p>I am using SSH variant. You can read all the detailed instructions <a href="https://code.visualstudio.com/docs/remote/ssh">over here</a>. But since I am here, I will give a shortcut version.</p>
<ol>
<li>Make sure you can <code>ssh</code> into your RPi or Jetson without a password. So if you can do <code>ssh &lt;username&gt;@&lt;ip&gt;</code> and get right into the console without a password prompt, you all good. If not, follow <a href="https://www.raspberrypi.org/documentation/remote-access/ssh/passwordless.md">this instruction</a>.</li>
<li>Install <code>Remote - SSH</code> VSCode plugin on your host machine.</li>
<li>Press <sub>&gt;</sub><sup>&lt;</sup> looking symbol on a green background in the left bottom of your VSCode.</li>
<li>Choose first <code>Remote-SSH: Connect to Host...</code></li>
<li>Choose <code>+ Add New SSH Host...</code></li>
<li>Put in <code>ssh &lt;username&gt;@&lt;ip&gt;</code></li>
<li>Choose where to store this setting</li>
<li>A new window will open, connect to your device and install all the necessary software on the remote machine automatically.</li>
<li>All done. Now, you can even install VSCode plugins into the remote machine. Just open plugin page and notice <code>Install on SSH: &lt;ip&gt;</code> button! How cool is that?!</li>
<li>I&#39;ve installed <code>Python</code> plugin and can even debug my scripts.</li>
<li>Opening files and folders is also integrated so that you choose them from the remote machine</li>
<li>This step is specific for my python setup step. Because I am using python&#39;s <code>environment</code> I need to specify my Python Interpreter. For that, I open <code>Show All Commands</code> dropdown (<code>Cmd+Shit+P</code> on MacOS) and type <code>&gt; Python: Select Interpreter</code>. There I can add a new one pointing to my environment (<code>~/env/bin/python</code> in my case, where <code>env</code> is the name of my environment).</li>
</ol>
<p>That&#39;s it for today! Have fun!</p>


    Tags:
    
        <a href="/blog/tags#tag-blog">blog</a>
    
        <a href="/blog/tags#tag-ubuntu">ubuntu</a>
    
        <a href="/blog/tags#tag-Bluetooth">Bluetooth</a>
    
        <a href="/blog/tags#tag-&quot;jetson">&quot;jetson</a>
    
        <a href="/blog/tags#tag-nano&quot;">nano&quot;</a>
    
    <div id="disqus_thread"></div>
    <script>
      /**
       * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
       * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
       */

      var disqus_config = function () {
        this.page.identifier = ""; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };

      (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');

        s.src = '//sasha-github-blog.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>

      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
      })(document);
    </script>
    <script src="//localhost:35729/livereload.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-2354819-12"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-2354819-12');
    </script>
    <script id="dsq-count-scr" src="//sasha-github-blog.disqus.com/count.js" async></script>
  </body>
</html>

      </div>
      
      <div class="post">
          <h1 class="post-title">
              <a href="/blog/about-preparing-labels-for-lego-collection">
                  About preparing labels for lego collection
              </a>
          </h1>

          <span class="post-date">07.06.2020</span>

        <!DOCTYPE html>
<html lang="en-us">

  <head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    
      About preparing labels for lego collection &middot; Blog #42
    
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="/blog/css/poole.css">
  <link rel="stylesheet" href="/blog/css/github-gist.css">
  <link rel="stylesheet" href="/blog/css/lanyon.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">

  <!-- Icons -->
    <!-- generics -->
    <link rel="icon" href="/blog/favicon-32.png" sizes="32x32">
    <link rel="icon" href="/blog/favicon-57.png" sizes="57x57">
    <link rel="icon" href="/blog/favicon-76.png" sizes="76x76">
    <link rel="icon" href="/blog/favicon-96.png" sizes="96x96">
    <link rel="icon" href="/blog/favicon-128.png" sizes="128x128">
    <link rel="icon" href="/blog/favicon-192.png" sizes="192x192">
    <link rel="icon" href="/blog/favicon-228.png" sizes="228x228">

    <!-- Android -->
    <link rel="shortcut icon" sizes="196x196" href=“/blog/favicon-196.png">

    <!-- iOS -->
    <link rel="apple-touch-icon" href="/blog/favicon-120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="/blog/favicon-152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="/blog/favicon-180.png" sizes="180x180">

    <!-- Windows 8 IE 10-->
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/blog/favicon-144.png">



    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/languages/twig.min.js"></script>

    <script>hljs.initHighlightingOnLoad();</script>
</head>


  <body>
    <input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>I am still not sure if this gonna fly or what I end up putting here</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item" href="/blog/">Home</a>

    
      <a class="sidebar-nav-item" href="/blog/components.md">Components</a>
    
      <a class="sidebar-nav-item" href="/blog/tags.md">Tags</a>
    

    <a class="sidebar-nav-item" href="https://github.com/soswow/blog">GitHub project</a>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; 2020. All rights reserved.
    </p>
  </div>
</div>

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="/blog" title="Home">Blog #42</a>
            <small>Notes to future me</small>
          </h3>
        </div>
      </div>

      <div class="container content">
        
<div class="post">
    <h1 class="post-title">About preparing labels for lego collection</h1>
    <span class="post-date">07.06.2020 | <a href="#disqus_thread">Link</a></span>
    <h2 id="background">Background</h2>
<p>Over time we&#39;ve collected a reasonable collection of lego parts. An initial big boost was given by my oldest brother who gave us his grown up son&#39;s collection. When we moved to Australia we left it behind, prepared in a suitcase. A bit later an acquaintance agreed to take it with him on his way to Australia. Pro Tip: if you ask a  person in it&#39;s 20s  to carry 23kg of lego in a second separate suitcase think what to say on the border because 100% this will look suspicious. If only someone gave us this tip. 🤦🏻‍♂️ Poor guy was not ready for some extra time on the border 🤣</p>
<p>When we settled in Australia we bought <a href="https://www.ikea.com/au/en/cat/toy-storage-20474/">TROFAST</a> storage solution for toys. Because we had like 9-12 drawers we decided to separate all lego parts by color. Later I found out that this is classic next step for lego owners who reach a particular size.</p>
<p>Also around that time (~5 years ago) one very generous gentlemen at <a href="https://robodino.org/">Robots And Dinosaurs Sydney hacker space</a> gifted me 8 or 10 of these:
<a href="/blog/images/2020-06-07-about-lego-labels_1.jpg"><img src="/blog/images/small/2020-06-07-about-lego-labels_1.jpg" alt="Craft Cabinet"></a></p>
<p>The problem was all of them were filled with electronics components, that owner didn&#39;t need anyway. For 5 years they were not used, taking space moving from place to place with me because I didn&#39;t have time nor motivation to clean them up and use this storage for something else.</p>
<p>Until now. Over a couple of weeks I painstakingly moved all the electronics into bags (detaching and labels was the hardest part).
<a href="/blog/images/2020-06-07-about-lego-labels_2.jpg"><img src="/blog/images/small/2020-06-07-about-lego-labels_2.jpg" alt="De-labeled Craft Cabinet"></a>
The plan is to use one or two boxes for my own electronics components and other small things in the shop, and the rest of them use for storing lego.</p>
<h2 id="lego-labels-source">LEGO labels source</h2>
<p>Now, when you have some background we come to the topic of this post: lego labels. I started with quick googling  that gave me this wonderful resource: <a href="https://brickarchitect.com/">https://brickarchitect.com/</a> It&#39;s pretty much what I was looking for. It has tons of very concise information on the topic of lego organisation. Author, <a href="https://www.instagram.com/tomalphin/?hl=en">Tom Alphin</a>, even made free labels! And that&#39;s what we going to talk about here.</p>
<p>On his website Tom encourages lego enthusiasts to buy one of Brother&#39;s label makers (like <a href="https://www.amazon.com/dp/B00OCEKCB2/ref=as_li_ss_tl?ie=UTF8&amp;linkCode=ll1&amp;tag=thebrickarchitect-20&amp;linkId=debb0ec67aff5b7d7d35224d45e34458">this one</a>). Because labels he shares with the worlds are in special file format these Label Makers consume. Unfortunately for me, I already bought a label maker (<a href="https://www.amazon.com.au/gp/product/B076LQ535N/ref=as_li_ss_tl?ie=UTF8&amp;psc=1&amp;linkCode=ll1&amp;tag=soswow-22&amp;linkId=329e5111e440b8b7fef5b058dfde2db6&amp;language=en_AU">cheaper and dumber one</a>) and I didn&#39;t want to spend more money on another one.</p>
<p>Instead, I decided to buy some <a href="https://www.amazon.com.au/gp/product/B07KW4XFPT/ref=as_li_ss_tl?ie=UTF8&amp;psc=1&amp;linkCode=ll1&amp;tag=soswow-22&amp;linkId=31b6bb2ef8e76c3a380763d488ce8324&amp;language=en_AU">Self Adhesive A4 paper</a>, print those labels on my Inkjet printer and cut them out manually. Unfortunately, I didn&#39;t find an easy straight forward way of getting what I wanted.</p>
<p>What Tom <a href="https://brickarchitect.com/labels/#download_lego_brick_labels">provides</a> are two things: </p>
<ul>
<li><code>LEGO_BRICK_LABELS.zip</code> - which holds a bunch of <code>.lbx</code> files that you can use with Brother label makers</li>
<li><code>LEGO_BRICK_LABELS-CONTACT_SHEET.pdf</code> - which is a PDF that was crafted manually by Tom with all the labels:</li>
</ul>
<p><a href="/blog/images/2020-06-07-about-lego-labels_4.png"><img src="/blog/images/small/2020-06-07-about-lego-labels_4.jpg" alt="PDF Page sample"></a></p>
<p>Even though <code>.pdf</code> file seems to be what I need, there are problems with that. It wasn&#39;t made with a purpose in mind of being printed on self-adhesive paper. Amount of white space all around actual labels will consume an unnecessarily large amount of waste paper material. The other minor problem is the label format. Here is a sample label layout:
<a href="/blog/images/2020-06-07-about-lego-labels_3.png"><img src="/blog/images/small/2020-06-07-about-lego-labels_3.jpg" alt="Default Label Format"></a>
Its design assumes one box/tray contains just one type of part with just one label. My case, on the other hand, is a little bit different. Since I am no <a href="https://en.wikipedia.org/wiki/Ryan_McNaught">Brick Man</a> and don&#39;t have as many parts in my collection, I expect to save up and have more than one type of part in a single tray. There won&#39;t be enough place on the front to place many such labels. So, if I could strip off code number and description keeping only the image, that would be good enough.</p>
<h2 id="extracting-lego-part-images">Extracting Lego Part images</h2>
<p>From Tom&#39;s website:</p>
<blockquote>
<p>The images were created using custom LDraw scripts that optimize the viewing angle and enhance the contrast of each part. The scripts are proprietary and hard to use, and the labels are free for non-commercial use.</p>
</blockquote>
<p>At this point, I am familiar with <a href="https://www.ldraw.org/">LDraw</a>, but since Tom is not sharing any specifics about rendering settings I won&#39;t be able to re-render them myself.</p>
<p>Another approach could be editing PDF in a vector graphics editor, like Inkscape. Which I tried and quickly decided not to continue. It was pretty tedious and I wanted to explore other options.</p>
<p><a href="/blog/images/2020-06-07-about-lego-labels_5.png"><img src="/blog/images/small/2020-06-07-about-lego-labels_5.jpg" alt="Default Label Format"></a></p>
<p>I decided to look into <code>.lbx</code> files. This is a format that can be opened with &quot;Brother P-touch Editor&quot;. Which looks like very specialized minimal vector graphics editor for preparing labels. It looks like this:</p>
<p><a href="/blog/images/2020-06-07-about-lego-labels_6.png"><img src="/blog/images/small/2020-06-07-about-lego-labels_6.jpg" alt="Brother P-touch Editor"></a></p>
<p>I was hoping to find some kind of &quot;Export as ...&quot; menu item, but no luck.</p>
<p>Googling more I&#39;ve discovered that <code>.lbx</code> is just a <code>zip</code> file. After unzipping I found a bunch of <code>.bmp</code> files and couple of <code>.xml</code> files. Raster images were what Tom rendered with LDraw. That&#39;s exactly what I need!</p>
<p>In total there are about 200 <code>.lbx</code> files. First I moved them into one place (they were distributed in subfolders). Then, I renamed them to <code>.zip</code> with</p>
<pre><code class="language-bash">for file in *.lbx
    do
        echo mv &quot;$file&quot; &quot;${file/zip./}&quot;
    done</code></pre>
<p><code>unzip *.zip</code> unziped all the files into the respective folders. The reason individual folders were needed is that each of the archives had images with the same names like <code>Object0.bmp</code>, <code>Object1.bmp</code>. Next step was to move all image files into one place. And since all files have same name I had to be creative. The language I know the best is <code>JS</code> so I&#39;ve written a script that would move images while adding prefix of its folder:</p>
<pre><code class="language-typescript">import * as fs from &quot;fs&quot;;
import * as path from &quot;path&quot;;

function walkDir(dir: string, callback: (string) =&gt; void) {
  fs.readdirSync(dir).forEach((f) =&gt; {
    let dirPath = path.join(dir, f);
    let isDirectory = fs.statSync(dirPath).isDirectory();
    isDirectory ? walkDir(dirPath, callback) : callback(path.join(dir, f));
  });
}

walkDir(&quot;./source&quot;, (localPath: string) =&gt; {
  if (localPath.endsWith(&quot;.bmp&quot;)) {
    const prefix = path.basename(path.dirname(localPath));
    const fileName = path.basename(localPath);
    fs.copyFileSync(localPath, `images/${prefix}-${fileName}`);
  }
});</code></pre>
<p>Now, images are extracted
<a href="/blog/images/2020-06-07-about-lego-labels_7.png"><img src="/blog/images/small/2020-06-07-about-lego-labels_7.jpg" alt="Images are ready"></a></p>
<p>Next step is pure magic. Some time ago, while working on a different project I&#39;ve discovered a tool called <a href="http://www.imagemagick.org/Usage/montage/">montage</a> which is part of ImageMagick package. It allows you to compile a bunch of images into one big image. After a bit of tinkering I&#39;ve come up with this command line:</p>
<pre><code class="language-bash">montage *.bmp -tile 20x14 -geometry 120x120+10+10 ../all-together-page-%d.jpg</code></pre>
<p>Here is a breakdown:</p>
<ul>
<li><code>*.bmp</code> - take all <code>bmp</code> images in current folder</li>
<li><code>-tile 20x14</code> - I want to have 20 tiles horizontally and 14 vertically in one file</li>
<li><code>-geometry 120x120+10+10</code> - each image needs to be resized (up or down) to 120px by 120px with 10px padding from all sides</li>
<li><code>../all-together-page-%d.jpg</code> - resulting images name using <code>%d</code> is where page number will go</li>
</ul>
<p>Here is a sample of resulting image:
<a href="/blog/images/2020-06-07-about-lego-labels_8.jpg"><img src="/blog/images/small/2020-06-07-about-lego-labels_8.jpg" alt="Resulting image sample"></a></p>
<p>Here are resulting images free for download: <a href="/blog/images/all-together-page-0.jpg">1</a>, <a href="/blog/images/all-together-page-1.jpg">2</a>, <a href="/blog/images/all-together-page-2.jpg">3</a>, <a href="/blog/images/all-together-page-3.jpg">4</a>, <a href="/blog/images/all-together-page-4.jpg">5</a>. Since these images extracted from Tom&#39;s label files I have to say you can only use these images for noncommercial use because this is what Tom says about label files.</p>
<p>After printing them out and many days of manual sorting this is what I have so far:
<a href="/blog/images/2020-06-07-about-lego-labels_9.jpg"><img src="/blog/images/small/2020-06-07-about-lego-labels_9.jpg" alt="Unused labels"></a>
<a href="/blog/images/2020-06-07-about-lego-labels_10.jpg"><img src="/blog/images/small/2020-06-07-about-lego-labels_10.jpg" alt="Two boxes sorted"></a></p>
<p>I hope it was useful. Have a good one!</p>


    Tags:
    
        <a href="/blog/tags#tag-blog">blog</a>
    
        <a href="/blog/tags#tag-lego">lego</a>
    
    <div id="disqus_thread"></div>
    <script>
      /**
       * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
       * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
       */

      var disqus_config = function () {
        this.page.identifier = ""; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };

      (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');

        s.src = '//sasha-github-blog.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>

      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
      })(document);
    </script>
    <script src="//localhost:35729/livereload.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-2354819-12"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-2354819-12');
    </script>
    <script id="dsq-count-scr" src="//sasha-github-blog.disqus.com/count.js" async></script>
  </body>
</html>

      </div>
      
      <div class="post">
          <h1 class="post-title">
              <a href="/blog/about-what-this-blog-is-made-of">
                  About what this blog is made of
              </a>
          </h1>

          <span class="post-date">23.01.2016</span>

        <!DOCTYPE html>
<html lang="en-us">

  <head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    
      About what this blog is made of &middot; Blog #42
    
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="/blog/css/poole.css">
  <link rel="stylesheet" href="/blog/css/github-gist.css">
  <link rel="stylesheet" href="/blog/css/lanyon.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">

  <!-- Icons -->
    <!-- generics -->
    <link rel="icon" href="/blog/favicon-32.png" sizes="32x32">
    <link rel="icon" href="/blog/favicon-57.png" sizes="57x57">
    <link rel="icon" href="/blog/favicon-76.png" sizes="76x76">
    <link rel="icon" href="/blog/favicon-96.png" sizes="96x96">
    <link rel="icon" href="/blog/favicon-128.png" sizes="128x128">
    <link rel="icon" href="/blog/favicon-192.png" sizes="192x192">
    <link rel="icon" href="/blog/favicon-228.png" sizes="228x228">

    <!-- Android -->
    <link rel="shortcut icon" sizes="196x196" href=“/blog/favicon-196.png">

    <!-- iOS -->
    <link rel="apple-touch-icon" href="/blog/favicon-120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="/blog/favicon-152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="/blog/favicon-180.png" sizes="180x180">

    <!-- Windows 8 IE 10-->
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/blog/favicon-144.png">



    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/languages/twig.min.js"></script>

    <script>hljs.initHighlightingOnLoad();</script>
</head>


  <body>
    <input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>I am still not sure if this gonna fly or what I end up putting here</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item" href="/blog/">Home</a>

    
      <a class="sidebar-nav-item" href="/blog/components.md">Components</a>
    
      <a class="sidebar-nav-item" href="/blog/tags.md">Tags</a>
    

    <a class="sidebar-nav-item" href="https://github.com/soswow/blog">GitHub project</a>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; 2020. All rights reserved.
    </p>
  </div>
</div>

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="/blog" title="Home">Blog #42</a>
            <small>Notes to future me</small>
          </h3>
        </div>
      </div>

      <div class="container content">
        
<div class="post">
    <h1 class="post-title">About what this blog is made of</h1>
    <span class="post-date">23.01.2016 | <a href="#disqus_thread">Link</a></span>
    <h2 id="stack">Stack</h2>
<p>This website is statically generated with <a href="https://metalsmith.io/">Metalsmith</a> framework, which is written in JavaScript. This is imposrtant, since I don&#39;t know much Ruby and know much JS. It works with very simple idea:</p>
<blockquote>
<p>All of the logic in Metalsmith is handled by plugins. You simply chain them together.</p>
</blockquote>
<p>So, in a sense it reminds how <a href="http://gulpjs.com/">Gulp</a> works. Each plugin is just a transformer for stream of files (usually your blog content and pages) and metadata store. A plugin can modify anything in this stream. For more details consult with Metalsmith website.</p>
<p>It is my second choice. At first I tried <a href="https://hexo.io/">Hexo</a>. It was nice, but something went wrong. I&#39;ve made a mistake not writing down what was the reason of rejecting it and now I can&#39;t recall.</p>
<p>As for design/theme I was planning to use some of the many open source themes out there. Since most popular engine is <a href="https://jekyllrb.com/">Jekyll</a> it also has most of the themes. This was the driving force in choosing templating engine. Current chosen theme is <a href="http://lanyon.getpoole.com/">lanyon</a>.</p>
<p>For templating I use <a href="http://mozilla.github.io/nunjucks/">Nunjucks</a> template engine from Mozilla in conjuction with <a href="https://github.com/tj/consolidate.js/">Consolidate</a>. Even thought <a href="https://github.com/leizongmin/tinyliquid">TinyLiquid</a> engine suppose to be JS reincarnation of <a href="http://liquidmarkup.org/">liquid</a> (which is in the heart of Jekyll, for some reason it didn&#39;t worked well with Jekyll templates.</p>
<p>The current list of blog features is the following:</p>
<ul>
<li>Blog posts</li>
<li>Pages with a link in the sidebar on the left</li>
<li>Simplest pagination with back and forth links</li>
<li>Simple Tags system</li>
</ul>
<p>Things I still need to add:</p>
<ul>
<li>Ability to comment on posts and pages</li>
</ul>
<h2 id="tags-solution">Tags solution</h2>
<p>After rejecting seemingly overcomplicated (and not maintained) <a href="https://github.com/totocaster/metalsmith-tags">plugin</a>, I&#39;ve end up writing my own solution. It consists of three parts. First you want to specify tags on each blog post or a page.</p>
<pre><code>title: First page in this blog/site/whatever
layout: post.html
collection: posts
tags: blog howto
</code></pre><p>Second we need to parse all the pages and posts (files) and do two things:</p>
<ul>
<li>convert <code>tags</code> to an array, so when we need this on the page we can iterate it</li>
<li>save <code>&lt;tag name&gt;: [&lt;page&gt;, &lt;page&gt;]</code> mapping into the metadata store</li>
</ul>
<pre><code class="language-js">function (files, metalsmith, done) {
    var tags = {};
    _.each(files, function (file) {
        if (!file.tags) { return }
        file.tags = file.tags.split(&#39; &#39;);
        file.tags.forEach(function (tag) {
            if (!tags[tag]) {
                tags[tag] = [];
            }
            tags[tag].push(file);
        });
    });
    metalsmith.metadata().tags = tags;
    done();
};
</code></pre>
<p>And a Third we need to make use of these two things we&#39;ve added to the data stream:</p>
<ul>
<li>display list of tags on the page itself</li>
</ul>
<pre><code class="language-twig">    Tags:
    {% for tag in tags %}
        &lt;a href=&quot;{{site.baseurl}}/tags#tag-{{tag}}&quot;&gt;{{tag}}&lt;/a&gt;
    {% endfor %}</code></pre>
<ul>
<li><p>make a separate page for tags with own layout:</p>
<pre><code class="language-twig">&lt;div class=&quot;page&quot;&gt;
  &lt;h1 class=&quot;page-title&quot;&gt;{{ title }}&lt;/h1&gt;
  {% for tagName, pages in tags %}
      &lt;span id=&quot;tag-{{tagName}}&quot;&gt;{{tagName}}&lt;/span&gt;:
      {% for page in pages %}
          &lt;a href=&quot;{{ page.path }}&quot;&gt;{{page.title}}&lt;/a&gt;
      {% endfor %}
      &lt;br/&gt;
  {% endfor %}
&lt;/div&gt;</code></pre>
</li>
</ul>


    Tags:
    
        <a href="/blog/tags#tag-blog">blog</a>
    
    <div id="disqus_thread"></div>
    <script>
      /**
       * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
       * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
       */

      var disqus_config = function () {
        this.page.identifier = ""; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };

      (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');

        s.src = '//sasha-github-blog.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>

      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
      })(document);
    </script>
    <script src="//localhost:35729/livereload.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-2354819-12"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-2354819-12');
    </script>
    <script id="dsq-count-scr" src="//sasha-github-blog.disqus.com/count.js" async></script>
  </body>
</html>

      </div>
      
</div>

<div class="pagination">
    
        <span class="pagination-item newer">Newer</span>
    

    
        <span class="pagination-item older">Older</span>
    
</div>


      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
      })(document);
    </script>
    <script src="//localhost:35729/livereload.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-2354819-12"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-2354819-12');
    </script>
    <script id="dsq-count-scr" src="//sasha-github-blog.disqus.com/count.js" async></script>
  </body>
</html>
