<!DOCTYPE html>
<html lang="en-us">

  <head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    
      Components &middot; Blog #42
    
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="/blog/css/poole.css">
  <link rel="stylesheet" href="/blog/css/github-gist.css">
  <link rel="stylesheet" href="/blog/css/lanyon.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/blog/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="/blog/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>


  <body>
    <input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>I am still not sure if this gonna fly or what I end up putting here</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item" href="/blog/">Home</a>

    
      <a class="sidebar-nav-item active" href="/blog/components">Components</a>
    
      <a class="sidebar-nav-item" href="/blog/tags">Tags</a>
    

    <a class="sidebar-nav-item" href="https://github.com/soswow/blog">GitHub project</a>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; 2016. All rights reserved.
    </p>
  </div>
</div>

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="/blog" title="Home">Blog #42</a>
            <small>Notes to future me</small>
          </h3>
        </div>
      </div>

      <div class="container content">
        
<div class="page">
    <h1 class="page-title"></h1>
    <h2 id="list-of-components">List of components</h2>

</div>

      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
      })(document);
    </script>

    
    <script src="//localhost:35729/livereload.js"></script>
    
    <script id="dsq-count-scr" src="//sasha-github-blog.disqus.com/count.js" async></script>
  </body>
</html>
