<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if path == "" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/github-gist.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/lanyon.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">

  <!-- Icons -->
    <!-- generics -->
    <link rel="icon" href="{{ site.baseurl }}/favicon-32.png" sizes="32x32">
    <link rel="icon" href="{{ site.baseurl }}/favicon-57.png" sizes="57x57">
    <link rel="icon" href="{{ site.baseurl }}/favicon-76.png" sizes="76x76">
    <link rel="icon" href="{{ site.baseurl }}/favicon-96.png" sizes="96x96">
    <link rel="icon" href="{{ site.baseurl }}/favicon-128.png" sizes="128x128">
    <link rel="icon" href="{{ site.baseurl }}/favicon-192.png" sizes="192x192">
    <link rel="icon" href="{{ site.baseurl }}/favicon-228.png" sizes="228x228">

    <!-- Android -->
    <link rel="shortcut icon" sizes="196x196" href=“{{ site.baseurl }}/favicon-196.png">

    <!-- iOS -->
    <link rel="apple-touch-icon" href="{{ site.baseurl }}/favicon-120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="{{ site.baseurl }}/favicon-152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="{{ site.baseurl }}/favicon-180.png" sizes="180x180">

    <!-- Windows 8 IE 10-->
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="{{ site.baseurl }}/favicon-144.png">

{#    <link rel="stylesheet"#}
{#          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/default.min.css">#}
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/languages/twig.min.js"></script>

    <script>hljs.initHighlightingOnLoad();</script>
</head>
