<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if path == '' %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

    {% for page in pages %}
      <a class="sidebar-nav-item{% if path == page.path %} active{% endif %}" href="{{ site.baseurl }}/{{ page.path }}">{{ page.title }}</a>
    {% endfor %}

    <a class="sidebar-nav-item" href="{{ site.github }}">GitHub project</a>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date('YYYY') }}. All rights reserved.
    </p>
  </div>
</div>
